#form{
    margin-left: 2rem;
    font-size: 20px;
    font-style: italic;
}
#form input{
    width: auto;
}
#form button{
    font-size: 15px;
    background-color: lightgray;
    margin-top: 5px;
}
.country{
    padding-top: 35px;
    font-weight: 500;
    font-style: italic;
    font-size: large;
    text-align: center;
}

img{
    padding-bottom: 15px;
}